body{
    background-color: rgb(25,25,25);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title{
    font-size: 30px;
    font-weight: bold;
  }
  
  .move-icon{
    height: 50px;
    width: 50px;
  }
  
  .move-button{
    background-color: transparent;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    cursor: pointer;
    margin-right: 10px;
  
  }
  
  .result{
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
  
  }
  
  .score{
    margin-top: 60px;
  }
  
  .reset-score-button, .auto-play-button {
    border:none;
    background-color: white;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
  }
